<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-title">My earnings for this shift<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt class="col-sm-4">Tip total</dt>
      <dd class="col-sm-8">{{tipTotal | currency}}</dd>
      <dt class="col-sm-4">Meal count</dt>
      <dd class="col-sm-8">{{mealCount}}</dd>
      <dt class="col-sm-4">Average tip per meal</dt>
      <dd class="col-sm-8">{{averageTip | currency}}</dd>
  </dl>
</div>
