<style type="text/css" media="screen">
dd, dt {
  margin-bottom: 15px;
}
</style>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 id="panel-title" class="panel-title">Enter the meal details <a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="baseMealPrice" class="col-sm-4 control-label">Base Meal Price</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="baseMealPrice" placeholder="0.00">
        </div>
      </div>
      <div class="form-group">
        <label for="taxRate" class="col-sm-4 control-label">Tax Rate</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="taxRate" placeholder="0.00">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="submit" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-title">Customer charges<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt class="col-sm-2">Subtotal</dt>
      <dd class="col-sm-10">0.00</dd>
      <dt class="col-sm-2">Tip</dt>
      <dd class="col-sm-10">0</dd>
      <dt class="col-sm-2">Total</dt>
      <dd class="col-sm-10">0.00</dd>
  </dl>
</div>
